html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

#prod-display{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#prod-display li{
    margin-bottom: .5em;
    border: 1px #ccc solid;
    list-style-type: none;
    flex: 1 1 auto;
}
                
#prod-display li img{
    width: 100%;
}

@media only screen and (min-width: 37.5em) {
    #prod-display{
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    #prod-display li{
        max-width: 200px;
        flex: 1 0 auto;
        text-align: center;
        max-height: 400px;
    } 
    
    #prod-display li img{
        height: 200px;
    }
}




@media only screen and (min-width: 64em) {
    #prod-display{
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    #prod-display li{
        max-width: 200px;
        flex: 1 0 auto;
        text-align: center;
        max-height: 400px;
    }
}