fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 0;
}
legend {
    margin-bottom: 10px;
}
label span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.3rem;
}
input {
    padding: 5px;
    border: 1px solid black;
    width: 300px;
}
.passwordNotice {
    font-weight: normal;
    font-size: .7rem;
    margin-top: 0;
}
.styleBttn {
    padding: 10px;
    margin-top: 10px;
    background-color: #de2226;
    color: white;
    width: auto;
    cursor: pointer;
    font-size: 1.2rem;
}
.bttnNotice {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0;
}
.createBttn {
    background-color: #de2226;
    display: block;
    color: white;
    width: 250px;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    border: 1px outset black;
}