h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.lessGap {
    margin-bottom: 0;
}
.foodSection {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 160px 2px 160px;
    grid-template-columns: 160px 160px;
    -ms-grid-rows: 100px 2px 100px;
    grid-template-rows: 100px 100px;
    grid-gap: 2px;
}
.foodSection > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.foodSection > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.foodSection > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.foodSection > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}
.foodSection figure {
    background-color: gainsboro;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 160px;
    margin-left: 20px;
}
.foodSection figcaption {
    margin-top: 5px;
}





.featuredSection div {
    padding-left: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 6fr 4fr ;
    grid-template-rows: auto auto auto auto auto auto;
}
.featuredSection img {
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 1 / span 5;
}
.featuredSection p {
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
    font-size: 1.5em;
    color: #de2226;
    background-color: rgba(255,255,255, .7);
    margin-bottom: 0;
}
.featuredSection a {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
}

/************* Medium Screen *****************/
@media only screen and (min-width: 37.5em) {
    .reviewsSection li {
        margin-left: 5.5rem;
    }
    .reviewsSection h2 {
        text-align: center;
        margin-bottom: 0;
    }
    .lessGap {
        text-align: center;
    }
    .foodSection {
        margin-left: 7rem;
    }
}
@media only screen and (min-width: 64em) {
    .reviewsSection {
        float: right;
        margin-top: -16px;
    }
    .reviewsSection li {
        margin-left: 0;
    }
    .reviewsSection h2 {
        text-align: left;
        margin-left: 1rem;
    }
    .foodSection {
        margin-left: 0;
    }
    .lessGap {
        text-align: left;
        margin-left: 20px;
    }
    .featuredSection img {
        grid-column: 1 / span 1;
        grid-row: 1 / span 6;
    }
    .featuredSection p {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }
    .featuredSection a {
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
    }
}