main ul {
    padding-left: 0;
}
main li {
    list-style-type: none;
    text-align: center;
    padding-top: 15px;
}
main li p {
    margin-top: 0;
}

main img {
    max-height: 100%;
    max-width: 100%;
}