h1 {
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0;
}
main ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
main img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
main li {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}
.boldIt {
    font-weight: bold;
    font-size: 1.5em;
}

@media only screen and (min-width: 64em) {
    main ul {
        display: flex;
    }
    main span {
        max-width: 410px;
    }
    main li {
        margin: auto 0;
        margin-left: 20px;
    }
    main li:first-of-type {
        margin-left: auto;
    }
    main ul:last-of-type li {
        margin: inherit;
    }
}