@import url('https://fonts.goggleapis.com/css?family=Skranji');
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0 10px 10px 10px;
    background-image: url(../images/site/background.jpg);
    min-width: 400px;
}
.wrapper {
    background-color: #ffffff;
    min-width: 300px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Skranji', cursive;
}
.headerTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #ffffff;
    padding: 15px;
    min-width: 300px;
}

.logoImg {
    width: 150px;
    height: 50px;
    margin-right: auto;
}
.accountImg {
    width: 30px;
    height: 20px;
    margin-left: auto;
}
.headerTop p {
    font-weight: bold;
}
.headerTop a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.logout:hover {
    text-decoration: underline;
}
.nameWelcome {
    display: block;
    text-align: right;
    margin-top: -35px;
}
nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 5px;
    background-color: #de2226;
    list-style-type: none;
}
nav li a {
    color: #ffffff;
    text-decoration: none;
    padding-top: .4rem;
    padding-bottom: .4rem;
}
.active {
    background-color: #ffffff;
}
.active a {
    color: #de2226;
}
main {
    padding: 10px;
}
.notice {
    color: #de2226;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
}
.headerTop p {
    text-align: right;
}
header .adminLink {
    display: block;
}
header .adminLink:hover {
    text-decoration: underline;
}
footer {
    border-top: 3px solid #000000;
    text-align: center;
}
footer p {
    margin: 0 0 2px 0;
}
/************* Medium Screen *****************/
@media only screen and (min-width: 37.5em) {
    .wrapper {
        max-width: 620px;
    }
    nav li {
        font-size: 1.8em;
    }
    .logoImg {
        width: 250px;
        height: 100px;
    }
    .accountImg {
        width: 50px;
        height: 30px;
    }
    .headerTop p {
        font-size: 2em;
        font-weight: bold;
    }
}

@media only screen and (min-width: 64em) {
    .wrapper {
        max-width: 825px;
    }
    nav li {
        font-size: 2.5em;
    }
}